body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select,
button {
  appearance: none;
  background-color: transparent;
  border-color: unset;
  border-width: 0;
  border-radius: unset;
  padding: unset;
  font-size: unset;
  line-height: unset;
  color: inherit;
}
input:focus-visible,
[multiple]:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}

.pillometer-landing {
  gap: 104px;
  background-color: #ffffff;
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media screen and (max-width: 1440px) {
  .pillometer-landing {  
    gap: 104px;
  }
}

@media screen and (max-width: 1050px) {
  .pillometer-landing {  
    gap: 78px;
  }
}

@media screen and (max-width: 550px) {
  .pillometer-landing {  
    gap: 52px;
  }
}

.hero {
  height: 678px;
  background-image: url(../public/images/img_hero.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1050px) {
  .hero {
    height: auto;
  }
}

.row-pillometer {
  height: 678px;
  background-image: url(../public/images/img_group_9.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1050px) {
  .row-pillometer {
    height: auto;
  }
}
@media screen and (max-width: 550px) {
  .row-pillometer {
    height: 875px;
  }
}

.stack-view {
  height: 678px;
  background: linear-gradient(141deg, #5ea3d6, #4b70d6);
  position: relative;
  align-content: flex-end;
}

@media screen and (max-width: 1050px) {
  .stack-view {
    height: auto;
  }
}
@media screen and (max-width: 550px) {
  .stack-view {
    height: 875px;
  }
}

.column-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
}

.column {
  padding-left: 56px;
  padding-right: 132px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media screen and (max-width: 1440px) {
  .column {
    padding-right: 32px;
    padding: 0;
  }
}

@media screen and (max-width: 1050px) {
  .column {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .column {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.column__image {
  height: 170px;
  width: 40%;
}

.section-3 {
  margin-top: -132px;
  position: relative;
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: start;
}

@media screen and (max-width: 1440px) {
  .section-3 {
    width: 100%;
    padding: 0;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .section-3 {
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
}

.section__view {
  height: 448px;
  margin-top: 20px;
  backdrop-filter: opacity(0.5);
  filter: blur(1000px);
  width: 448px;
  border-radius: 224px;
}

@media screen and (max-width: 1050px) {
  .section__view {
    height: 148px;
  }
}
@media screen and (max-width: 550px) {
  .section__view {
    width: 0;
    height: 120px;
    visibility: hidden;
  }
}

.section__content-2 {
  margin-left: -400px;
  gap: 104px;
  align-self: center;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .section__content-2 {
    gap: 104px;
  }
}

@media screen and (max-width: 1050px) {
  .section__content-2 {
    align-self: stretch;
    gap: 78px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 550px) {
  .section__content-2 {  
    gap: 52px;
  }
}

.section__header {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 550px) {
  .section__header {
    font-size: 26px;
    flex-direction: column;
  }
}

.section__logo {
  height: 28px;
}

.section__preorder-button {
  letter-spacing: 0.1px;
  font-weight: 600;
  min-width: 192px;
  border-radius: 5px;
  z-index: 5;
}

.section__description-column {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.section__title {
  color: #ffffff !important;
  letter-spacing: -1.8px;
  z-index: 5;
}

@media screen and (max-width: 1050px) {
  .section__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 550px) {
  .section__title {
    font-size: 26px;
  }
}

.section__subtitle {
  color: #ffffffb2 !important;
  letter-spacing: -0.2px;
  width: 44%;
  line-height: 32px;
  z-index: 5;
}

@media screen and (max-width: 1440px) {
  .section__subtitle {
    width: 40%;
  }
}

@media screen and (max-width: 1050px) {
  .section__subtitle {
    width: 100%;
  }
}

.hero-images {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1050px) {
  .hero-images {
    flex-direction: column;
  }
}

.column-1 {
  z-index: 2;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.laptop-image {
  height: 334px;
  z-index: 3;
  width: 46%;
  position: relative;
  object-fit: cover;
}

@media screen and (max-width: 1050px) {
  .laptop-image {
    visibility: hidden;
  }
}

@media screen and (min-width: 1800px) {
  .laptop-image {
    height: auto;
  }
}

@media screen and (min-width: 2500px) {
  .laptop-image {
    height: auto;
    width: 36%;
  }
}

.column__image--bottom {
  height: 236px;
  margin-top: -96px;
  margin-right: 120px;
  position: relative;
  width: 32%;
}

@media screen and (max-width: 1050px) {
  .column__image--bottom {
    margin-right: 0px;
  }
}

.image_two {
  height: 230px;
  margin-left: -86px;
  align-self: end;
  position: relative;
  width: 20%;
  object-fit: cover;
}

@media screen and (max-width: 1050px) {
  .image_two {
    align-self: auto;
    width: 100%;
    margin-left: 0px;
  }
}

.image__three {
  height: 384px;
  z-index: 4;
  width: 26%;
  position: absolute;
  left: 13%;
  top: 9%;
  margin: auto;
}

.pillometer__device-image {
  height: 254px;
  z-index: 5;
  width: 18%;
  position: absolute;
  object-fit: cover;
  bottom: 20%;
  right: 12%;
  margin: auto;
}

@media screen and (max-width: 1050px) {
  .pillometer__device-image {
    visibility: hidden;
  }
}
@media screen and (min-width: 1800px) {
  .pillometer__device-image {
    height: auto;
  }
}

.row_one {
  height: 96px;
  padding-top: 34px;
  padding-bottom: 34px;
  background-image: url(../public/images/img_group_23.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .row_one {
    height: auto;
  }
}

@media screen and (max-width: 1050px) {
  .row_one {
    height: auto;
  }
}

@media screen and (max-width: 550px) {
  .row_one {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.section {
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  .section {
    padding: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .section {
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 550px) {
  .section {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section__menu {
  gap: 11px;
  display: flex;
}

@media screen and (max-width: 550px) {
  .section__menu {
    flex-direction: column;
  }
}

.section__menu-icon {
  height: 22px;
  width: 22px;
}

@media screen and (max-width: 550px) {
  .section__menu-icon {
    width: 100%;
  }
}

.section__description-1 {
  color: #ffffff !important;
  letter-spacing: -0.2px;
  display: flex;
}

.section__description-span-4 {
  color: #ffffff;
}

.section__description-span-5 {
  color: #ffffff;
  text-decoration: underline;
}

.row_two {
  margin-top: 120px;
}

@media screen and (max-width: 768px) {
  .row_two {
    margin-top: 80px;
  }
}

.left, .right {
  flex: 1;
  padding: 20px;
}

.left {
  position: relative;
}

@media screen and (max-width: 768px) {
  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .left {
    display: none;
  }
}

.product-stock, .business-loc {
  width: 80%;
}

.product-stock {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .product-stock {
    position: relative;
    transform: translateX(-20%);
  }
}

.business-loc {
  position: absolute;
  left: 400px;
  top: 200px;
  transform: translateX(-60%);
}

@media screen and (max-width: 1400px) {
  .business-loc {
    left: 220px;
  }
}
@media screen and (max-width: 768px) {
  .business-loc {
    position: relative;
    top: 0;
    transform: translateY(-50%) translateX(-40%);
  }
}
@media screen and (max-width: 550px) {
  .business-loc {
    transform: translateY(-50%) translateX(-100%);
  }
}

.right {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .right {
    position: relative;
  }
}

.right h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.bold-text {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #555;
  line-height: 1.6;
}

.unordered-list {
  list-style-type: none;
  padding: 0;
  color: #1c1b1fb2;
}

.unordered-list li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  line-height: 1.8;
}

.unordered-list li::before {
  content: "-";
  position: absolute;
  left: 0;
  color: #5EA3D6;
}

.row_three {
  margin-top: 116px;
}

@media screen and (max-width: 768px) {
  .row_three {
    margin-top: 80px;
  }
}

.services {
  padding-top: 92px;
  padding-bottom: 92px;
  background-color: #f2f9ff;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  .services {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 1050px) {
  .services {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .services {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.services-section {
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  .services-section {
    padding: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .services-section {
    padding: 20px;
  }
}

.services-section__column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.services-section__title {
  letter-spacing: -1.2px;
  line-height: 48px;
}

@media screen and (max-width: 1050px) {
  .services-section__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 550px) {
  .services-section__title {
    font-size: 24px;
  }
}

.services-section__content {
  display: flex;
  align-items: start;
}

@media screen and (max-width: 550px) {
  .services-section__content {
    flex-direction: column;
  }
}

.services-section__content-column {
  margin-top: 42px;
  gap: 36px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
}

@media screen and (max-width: 1050px) {
  .services-section__content-column {
    align-self: stretch;
  }
}

@media screen and (max-width: 550px) {
  .services-section__content-column {
    align-self: auto;
  }
}

.services-section__images-row {
  gap: 12px;
  display: flex;
  width: 44%;
  align-items: start;
}

@media screen and (max-width: 1050px) {
  .services-section__images-row {
    width: 40%;
  }
}

@media screen and (max-width: 550px) {
  .services-section__images-row {
    width: 100%;
  }
}

.services-section__images-column {
  margin-bottom: 62px;
  gap: 26px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: end;
}

@media screen and (max-width: 550px) {
  .services-section__images-column {
    width: 100%;
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 350px) {
  .services-section__images-column {
    display: none;
  }
}

.services-section__image-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: end;
  border-radius: 12px;
}

@media screen and (max-width: 1440px) {
  .services-section__image-container {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .services-section__image-container {
    width: 100%;
  }
}

.services-section__image--printer {
  height: 182px;
  margin-bottom: 8px;
  width: 86%;
  object-fit: cover;
}

.services-section__image-container-1 {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #ffffff;
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: end;
  border-radius: 12px;
}

@media screen and (max-width: 1440px) {
  .services-section__image-container-1 {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .services-section__image-container-1 {
    width: 100%;
  }
}

.services-section__image--photo {
  height: 158px;
  margin-top: 52px;
  width: 90%;
  object-fit: cover;
}

.services-section__images-column-1 {
  gap: 26px;
  align-self: end;
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media screen and (max-width: 550px) {
  .services-section__images-column-1 {
    align-self: auto;
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .services-section__images-column-1 {
    display: none;
  }
}

.services-section__image-container-2 {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 12px;
}

.services-section__image--scanner {
  height: 186px;
  width: 186px;
  object-fit: cover;
}

.services-section__image-container-3 {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 12px;
}

.services-section__image--photo-1 {
  height: 188px;
  width: 188px;
  object-fit: cover;
}

.row_four {
  height: 576px;
  margin-top: 120px;
  position: relative;
  align-content: flex-end;
}

@media screen and (max-width: 1440px) {
  .row_four {
    height: auto;
  }
}

@media screen and (max-width: 1050px) {
  .row_four {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .row_four {
    margin-top: 80px;
  }
}

.description {
  color: #1c1b1fb2 !important;
  margin-top: 6%;
  letter-spacing: -0.2px;
  line-height: 23px;
}

.description-text {
  color: #555;
  line-height: 1.6;
}

.description-list {
  width: 80%;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: auto;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  height: max-content;
}

@media screen and (max-width: 1440px) {
  .section-2 {
    padding: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .section-2 {
    position: relative;
    padding: 20px;
  }
}

@media screen and (max-width: 550px) {
  .section-2 {
    display: grid;
  }
}

.section__description {
  letter-spacing: -1.2px;
  width: 54%;
  line-height: 44px;
}

@media screen and (max-width: 1440px) {
  .section__description {
    width: 54%;
  }
}

@media screen and (max-width: 1050px) {
  .section__description {
    width: 100%;
    font-size: 16px;
  }
}

.section__description-span-1 {
  color: #1c1b1f;
}

.section__description-span-2 {
  color: transparent;
  text-transform: capitalize;
  background: linear-gradient(141deg, #5ea3d6, #4b70d6);
  background-clip: text;
}

.section__content-1 {
  height: 576px;
  margin-left: -54px;
  align-self: center;
  position: relative;
  width: 46%;
}

@media screen and (max-width: 1050px) {
  .section__content-1 {
    width: 100%;
    margin-left: 0px;
  }
}

.section__content__stack {
  height: 576px;
  background: linear-gradient(141deg, #5ea3d6, #4b70d6);
  width: 84%;
  position: absolute;
  align-content: center;
  right: 28px;
  bottom: 0px;
  top: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 1440px) {
  .section__content__stack {
    height: auto;
  }
}

@media screen and (max-width: 1050px) {
  .section__content__stack {
    height: auto;
  }
}

@media screen and (min-width: 1700px) {
  .section__content__stack {
    width: 60%;
  }
}

.section__content__image {
  height: 576px;
  flex: 1;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.section__content__actions {
  gap: 8px;
  background: linear-gradient(141deg, #5ea3d6, #4b70d6);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 24%;
  left: 37%;
  padding: 6px;
  margin: auto;
  border-radius: 3px;
}

@media screen and (min-width: 1700px) {
  .section__content__actions {
    left: 20%;
  }
}
@media screen and (max-width: 768px) {
  .section__content__actions {
    bottom: 33%;
    left: 27%;
  }
}

.section__content__button {
  color: #ffffff !important;
  letter-spacing: -0.6px;
}

.section__content__icon {
  height: 20px;
  width: 20px;
}

.section__testimonials-1 {
  bottom: 31%;
}

@media screen and (max-width: 768px) {
  .section__testimonials-1 {
    bottom: 40%;
  }
}

.section__testimonials-2 {
  bottom: 15%;
  background: linear-gradient(141deg, #5ea3d6, #4b70d6);
}

@media screen and (max-width: 1050px) {
  .section__testimonials-2 {
    bottom: 13%;
  }
}
@media screen and (max-width: 768px) {
  .section__testimonials-2 {
    bottom: 16%;
  }
}
@media screen and (max-width: 550px) {
  .section__testimonials-2 {
    bottom: 22%;
  }
}
@media screen and (min-width: 1700px) {
  .section__testimonials-2 {
    bottom: 11%;
  }
}

.section__testimonials-1, .section__testimonials-2 {
  gap: 16px;
  background-color: #ffffff;
  box-shadow: 0 0 57px 3px #1313130c;
  width: 62%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
}

.section__testimonials__column--image {
  display: flex;
  justify-content: center;
  width: 18%;
  border-radius: 28px;
}

@media screen and (max-width: 1024px) {
  .section__testimonials__column--image {
    display: none;
  }
}

.section__testimonials__image {
  object-fit: cover;
  border-radius: 28px;
  width: 100%;
  background-color: #ffffff;
}

@media screen and (max-width: 1440px) {
  .section__testimonials__image {
    height: auto;
  }
}

@media screen and (max-width: 1050px) {
  .section__testimonials__image {
    height: auto;
  }
}

.section__testimonials__column--text {
  gap: 8px;
  align-self: end;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
}

.section__testimonials__author {
  font-weight: 500 !important;
}

.section__testimonials-1 .section__testimonials__author {
  color: #1c1b1f !important;
}

.section__testimonials-2 .section__testimonials__author, .section__testimonials-2 .section__testimonials__message {
  color: #ffffff !important;
}

.section__testimonials__message {
  line-height: 14px;
}

.row_five {
  margin-top: 106px;
}

.cta {
  padding-top: 54px;
  padding-bottom: 54px;
  background-color: #5ea3d6;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1050px) {
  .cta {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .cta {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.call-to-action {
  padding-left: 56px;
  padding-right: 56px;
  gap: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .call-to-action {
    padding: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .call-to-action {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 550px) {
  .call-to-action {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.call-to-action__title {
  color: #ffffff !important;
  letter-spacing: -1.2px;
}

@media screen and (max-width: 1050px) {
  .call-to-action__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 550px) {
  .call-to-action__title {
    font-size: 24px;
  }
}

.footer {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.footer__contact-info {
  margin-right: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1050px) {
  .footer__contact-info {
    margin-right: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer__contact-info {
    flex-direction: column;
  }
}

.footer__email {
  align-self: end;
}

@media screen and (max-width: 768px) {
  .footer__email {
    align-self: auto;
  }
}

.footer__social-media {
  width: 24%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .footer__social-media {
    width: auto;
  }
}

.footer__divider {
  height: 1px;
  margin-top: 46px;
  background-color: #aeaaae;
  align-self: stretch;
  width: 100%;
}

.footer__column--legal {
  margin-top: 14px;
}

@media screen and (max-width: 1440px) {
  .footer__column--legal {
    padding: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .footer__column--legal {
    padding: 20px;
  }
}

.footer__legal-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

@media screen and (max-width: 1050px) {
  .footer__legal-info {
    flex-direction: column;
  }
}

.footer__copyright {
  margin-top: 10px;
}

@media screen and (max-width: 1050px) {
  .footer__copyright {
    align-self: center;
  }
}

.footer__links {
  align-self: center;
  width: 38%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 8px 16px;
}

@media screen and (max-width: 768px) {
  .footer__links {
    width: auto;
  }
}

.terms-link-link {
  margin-bottom: 6px;
}

.privacy-link-link {
  margin-right: 6px;
}

@media screen and (max-width: 1440px) {
  .privacy-link-link {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1050px) {
  .privacy-link-link {
    margin-right: 0px;
  }
}

.call-to-action__buttons {
  gap: 13px;
  display: flex;
  z-index: 5;
}

@media screen and (max-width: 550px) {
  .call-to-action__buttons {
    flex-direction: column;
  }
}

.services-section__button {
  letter-spacing: -0.6px;
  font-weight: 700;
  max-width: 200px;
}

.description__text {
  color: #1c1b1fb2 !important;
  letter-spacing: -0.2px;
  line-height: 23px;
}

.services-section__description-span {
  color: #1c1b1fb2;
  font-weight: 700;
}

.services-section__description-span-1 {
  color: #1c1b1fb2;
}

.section__description-span {
  color: transparent;
  background: linear-gradient(141deg, #5ea3d6, #4b70d6);
  background-clip: text;
}

.call-to-action__button--download {
  letter-spacing: -0.6px;
  font-weight: 600;
  min-width: 200px;
}

.footer__icon--linkedin {
  height: 34px;
  width: 34px;
}

.footer__icon--facebook {
  height: 34px;
}

.ui.button.round {
  border-radius: 8px;
}

.ui.button.size-xs {
  height: 42px;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 16px;
}

.ui.button.size-sm {
  height: 58px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
}

.ui.button.fill.re_branding_colors_rebranding_color {
  background-color: #5ea3d6;
  color: #ffffff;
}

.ui.button.fill.re_branding_colors_rebranding_color_black {
  background-color: #1f1c19;
  color: #ffffff;
}

.ui.button.fill.material_theme_sys_light_on_primary {
  background-color: #ffffff;
  color: #1f1c19;
}

.ui.button {
  text-align: center;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

/*------Text CSS------*/
.ui.text.size-textxl {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.ui.text.size-text2xl {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 1440px) {
  .ui.text.size-text2xl {
    font-size: 14px;
  }
}

.ui.text {
  color: #1f1c19;
  font-family: Montserrat;
}

/*------Heading CSS------*/
.ui.heading.size-textxs {
  font-size: 5px;
  font-weight: 500;
  font-style: bold;
}

.ui.heading.size-texts {
  font-size: 6px;
  font-weight: 500;
  font-style: bold;
}

.ui.heading.size-textmd {
  font-size: 7px;
  font-weight: 500;
  font-style: bold;
}

.ui.heading.size-textlg {
  font-size: 12px;
  font-weight: 500;
  font-style: bold;
}

.ui.heading.size-headingxs {
  font-size: 4px;
  font-weight: 600;
  font-style: bold;
}

.ui.heading.size-headings {
  font-size: 5px;
  font-weight: 600;
  font-style: bold;
}

.ui.heading.size-headingmd {
  font-size: 6px;
  font-weight: 600;
  font-style: bold;
}

.ui.heading.size-headinglg {
  font-size: 7px;
  font-weight: 600;
  font-style: bold;
}

.ui.heading.size-headingxl {
  font-size: 9px;
  font-weight: 600;
  font-style: bold;
}

.ui.heading.size-heading2xl {
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
}

.ui.heading.size-heading3xl {
  font-size: 32px;
  font-weight: 700;
  font-style: bold;
}

@media screen and (max-width: 1440px) {
  .ui.heading.size-heading3xl {
    font-size: 27px;
  }
}

@media screen and (max-width: 1050px) {
  .ui.heading.size-heading3xl {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .ui.heading.size-heading3xl {
    font-size: 28px;
  }
}

.ui.heading.size-heading4xl {
  font-size: 48px;
  font-weight: 700;
  font-style: bold;
}

@media screen and (max-width: 1440px) {
  .ui.heading.size-heading4xl {
    font-size: 40px;
  }
}

@media screen and (max-width: 1050px) {
  .ui.heading.size-heading4xl {
    font-size: 44px;
  }
}

@media screen and (max-width: 550px) {
  .ui.heading.size-heading4xl {
    font-size: 25px;
  }
}

.ui.heading {
  color: #1c1b1f;
  font-family: Montserrat;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.container-xs {
  margin-left: auto;
  margin-right: auto;
}

.container, .container-xs {
  width: 100%;
  max-width: 80%;
}

@media screen and (min-width: 2500px) {
  .container, .container-xs {
    max-width: 60%;
  }
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/MontserratSemiBold.ttf");
  font-family: "Montserrat";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/MontserratBold.ttf");
  font-family: "Montserrat";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/MontserratRegular.ttf");
  font-family: "Montserrat";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/MontserratMedium.ttf");
  font-family: "Montserrat";
  font-weight: 500;
}
